# Java Maven CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-java/ for more details
#
version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
      - image: cimg/openjdk:17.0.8

    working_directory: ~/repo

    environment:
      # Customize the JVM maximum heap limit
      MAVEN_OPTS: -Xmx3200m
      CC_TEST_REPORTER_ID: b1d7ccf1b8782f77571a0a7a505032042cbd97c7a83de41a6c517a6e2d1b9ce6
      JACOCO_SOURCE_PATH: /home/circleci/repo/src/main/java/

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "pom.xml" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      - run: mvn dependency:go-offline

      - save_cache:
          paths:
            - ~/.m2
          key: v1-dependencies-{{ checksum "pom.xml" }}

      - run:
          name: Setup Code Climate test-reporter
          command: |
            curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
            chmod +x ./cc-test-reporter

      - run:
          name: Run tests
          command: |
            mvn test
            ./cc-test-reporter format-coverage -t jacoco ./target/jacoco-ut/jacoco.xml
            ./cc-test-reporter upload-coverage

      - store_artifacts:
          path: target/surefire-reports
          destination: tr1

      - store_test_results:
          path: target/surefire-reports

